<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> 🎉 youtube 订阅查看</title>
  <link rel="stylesheet" href="./main.css">
  <link rel="icon" href="https://cdn.staticaly.com/gh/rcy1314/tuchuang@main/20221101/朋克.4obzeoqjmw00.jpg" type="image/png" />
</head>
<body>
    <header>
      <h1>🎉</h1>
      <div class="search">
        <form action="<%= it.searchUrl %>" method="GET">
          <div class="input-group">
            <input type="text" class="text-input" name="q" placeholder="搜索" />
            <button type="submit">确认</button>
          </div>
        </form>
      </div>
    </header>
    <script type='text/javascript' src='../js/jquery-3.2.1.js'></script>  
    <script type='text/javascript'>  
        //显隐按钮  
        function showReposBtn(){  
            var clientHeight = $(window).height();  
            var scrollTop = $(document).scrollTop();  
            var maxScroll = $(document).height() - clientHeight;  
            //滚动距离超过可视一屏的距离时显示返回顶部按钮  
            if( scrollTop > clientHeight ){  
                $('#retopbtn').show();  
            }else{  
                $('#retopbtn').hide();  
            }  
            //滚动距离到达最底部时隐藏返回底部按钮  
            if( scrollTop >= maxScroll ){  
                $('#rebtmbtn').hide();  
            }else{  
                $('#rebtmbtn').show();  
            }  
        }  
          
        window.onload = function(){  
            //获取文档对象  
            $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $("html") : $("body")) : $("html,body");  
            //显示按钮  
            showReposBtn();  
        }  
          
        window.onscroll = function(){  
            //滚动时调整按钮显隐  
            showReposBtn();  
        }  
          
        //返回顶部  
        function returnTop(){  
            $body.animate({scrollTop: 0},400);  
        }  
          
        //返回底部  
        function returnBottom(){  
            $body.animate({scrollTop: $(document).height()},400);  
        }  
    </script>  
    <style type='text/css'>  
        #retopbtn{  
            position:fixed;  
            bottom:10px;  
            right:10px;  
        }  
        #rebtmbtn{  
            position:fixed;  
            top:10px;  
            right:10px;  
        }  
    </style>  
</head>  
<body>  
    <button id='rebtmbtn' onclick='returnBottom()'>⬇</button>  
<button id='retopbtn' onclick='returnTop()'>⬆</button> 
<body>


    
    </a>

    <main>
      <% for (let day of it.days) { %>
        <div class="day">
          <h2><%= day %></h2>
          <hr />
          <div class="videos">
            <% for (let video of it.videos[day]) { %>
              <div class="video">
                <a href="<%= video.link %>">
                  <img src="<%= video.thumbnail %>" loading="lazy" />
                </a>

                <p>
                  <a href="<%= video.link %>">
                    <%= video.title %>
                  </a>
                </p>

                <p>
                  <a href="<%= video.channel %>">
                    <strong><%= video.author %>&nbsp;</strong>
                  </a>

                  <a href="<%= video.youtube %>">
                    <span>[博主]</span>
                  </a>
                </p>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </main>
</body>
</html>
