<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> 🎉 youtube 订阅查看</title>
  <link rel="stylesheet" href="./main.css">
  <link rel="icon" href="https://cdn.staticaly.com/gh/rcy1314/tuchuang@main/20221101/朋克.4obzeoqjmw00.jpg" type="image/png" />
</head>
<body>
    <header>
      <h1>🎉</h1>
      <div class="search">
        <form action="<%= it.searchUrl %>" method="GET">
          <div class="input-group">
            <input type="text" class="text-input" name="q" placeholder="搜索" />
            <button type="submit">确认</button>
          </div>
        </form>
      </div>
    </header>

    
    </a>

    <main>
      <% for (let day of it.days) { %>
        <div class="day">
          <h2><%= day %></h2>
          <hr />
          <div class="videos">
            <% for (let video of it.videos[day]) { %>
              <div class="video">
                <a href="<%= video.link %>">
                  <img src="<%= video.thumbnail %>" loading="lazy" />
                </a>

                <p>
                  <a href="<%= video.link %>">
                    <%= video.title %>
                  </a>
                </p>

                <p>
                  <a href="<%= video.channel %>">
                    <strong><%= video.author %>&nbsp;</strong>
                  </a>

                  <a href="<%= video.youtube %>">
                    <span>[博主]</span>
                  </a>
                </p>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </main>
</body>
</html>
